.img{
    width: 1500px;
    height: 310px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 90% 90%;
    background: url(../img/logo.png) no-repeat #fff 90% 90%;
    
}