/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    display: block;
}

.banner{
    height: 958px;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    border: 1px solid gray;
}

.banner-content{
    width: 304px;
    color: white;
    font-style: italic;
}

.banner-content h1{
    font-size: 80px;
    line-height: 1.325;
    font-weight: bold;    
}

.banner-content p{
    font-size: 24px;
    line-height: 1.33;
}

.banner-content p:nth-of-type(2){
    padding-left: 13px ;
    margin-top: 28px;
    margin-bottom: 36px;
}

.banner-content ul{
    display: flex;
    justify-content: space-between;
}

.about{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    padding: 56px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;     
}

.about h2{
    font-size: 64px;
}

.about img{
    margin-top: 40px;
    margin-bottom: 20px;
}

.personal-info{
    line-height: 1.5;
    padding-bottom: 24px;
    border-bottom: 1px solid #000;
}

.personal-experience ul li{
    margin: 14px 0;
}

.personal-experience ul li::before{
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 16px;
    background-color: #891818;
    border-radius: 50%;
    vertical-align: middle;
}

.brand{
    background: #000;
    color: white;
    font-weight: bold;
    font-style: italic;
    padding-top: 56px;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand h2{
    font-size: 64px;
    margin-bottom: 12px;    
}

.brand p{
    font-size: 24px;
    margin-bottom: 32px;
}

.brand p:nth-of-type(2){
    font-size: 20px;
    font-style: normal;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 68px;   
}

.brand-img{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-img img:first-of-type{
    margin-bottom: 40px;
}

.brand-img img:nth-of-type(2){
    margin-right: 12px;
}

.brand-img img:last-of-type{
    margin-left: 12px;
}

.works{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 144px;
}

.works h2{
    font-size: 64px;
    font-style: italic;
    margin-bottom: 16px;
}

.works p{
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 56px;
}

.works ul{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.works ul li p{
    text-align: center;
    margin-top: 16px;
}

.contact{
    color: white;
    background: #000;
    padding: 64px 0;
    text-align: center;
    font-style: italic;
}

.contact h2{
    font-size: 64px;    
    font-weight: bold;
    margin-bottom: 16px;
}

.contact p{
    font-size: 24px;
    margin-bottom: 16px;
}
